@model Autobazar.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tachometer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tachometer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuels)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuels)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bodies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bodies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Spz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Spz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conditions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InBazarFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InBazarFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    @{
        if (Model is not null)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        }
    }
    <a asp-action="Index">Back to List</a>
</div>
