@model Autobazar.Models.Car

@section Styles {
<link rel="stylesheet" href="~/css/views/details.min.css" />
}

@{
    ViewData["Title"] = "Details";
}

<section class="details-container row">
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-8 col-xxl-8">
        <h2 class="heading-title mb-5">
            @Html.DisplayFor(model => model.Manufacturer)
            @Html.DisplayFor(model => model.Model)
        </h2>
        <h5 class="heading-subtitle">Technické parametry</h5>
        <div class="technic-params-container row mt-3">
            <div class="col-md-6">

                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.ManufacturingDate)</h6>
                    <p>@Html.DisplayFor(model => model.ManufacturingDate)</p>
                </div>
                <div class="technic-params-item">
                    <h6>Tachometr</h6>
                    <p>@Html.DisplayFor(model => model.Tachometer) km</p>
                </div>
                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.Fuels)</h6>
                    <p>@Html.DisplayFor(model => model.Fuels)</p>
                </div>

                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.Bodies)</h6>
                    <p>@Html.DisplayFor(model => model.Bodies)</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.Spz)</h6>
                    <p>@Html.DisplayFor(model => model.Spz)</p>
                </div>
                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.Conditions)</h6>
                    <p>@Html.DisplayFor(model => model.Conditions)</p>
                </div>
                <div class="technic-params-item">
                    <h6>@Html.DisplayNameFor(model => model.InBazarFrom)</h6>
                    <p>@Html.DisplayFor(model => model.InBazarFrom)</p>
                </div>
            </div>
        </div>

        <div class="technic-decsription mt-4">
            <h5 class="heading-subtitle">
                @Html.DisplayNameFor(model => model.Note)
            </h5>
            <p>
                @Html.DisplayFor(model => model.Note)
            </p>
        </div>
        <div class="actions">
            <a asp-action="Index" class="btn btn-outline-secondary btn-submit">Zpět</a>
        </div>

    </div>
</section>

@*
    @{
    if (Model is not null)
    {
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    }
    </div>
*@